@page
@model IndexModel
@{
    ViewData["Title"] = "Menu";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow rounded-4 border-0">
                <div class="card-body p-4">
                    <h2 class="text-center mb-4">@ViewData["Title"]</h2>

                    <div class="d-grid gap-3">
                        <a  class="btn btn-primary btn-lg" asp-page="/ListDishes">Veure Plats</a>
                        <a class="btn btn-primary btn-lg" asp-page="/ListIngredients">Veure Ingredients</a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>